.general
{

	width:950px;
	background: #c8c8c8;
	border-radius: 30px;
	margin:50px;
}
img
{
	width:80%;
	border: 4px solid white;
	display: block;
	padding:20px;
}
header
{width: 140px;
background:red;
}
header img
{
	width:90%;
}